.navbar{
    position: relative;
}

.profile{
    position: absolute;
    right: 1%;
    transition: 2s ease-in-out;
    &:hover{
        transform:scaleX(1.1) scaleY(1.2);
    }
}

.profile img{
    width: 20%;
    height: 20%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}